html, body, ul, li, ol, dl, dd, dt, p, h1, h2, h3, h4, h5, h6, form, fieldset, legend, img {
    margin: 0;
    padding: 0;
}

fieldset, img {
    border: 0
}

img {
    display: block
}

ol, ul {
    list-style: none;
}

input,
select,
form img,
button {
    vertical-align: middle;
    -webkit-tap-highlight-color: transparent;
    outline: 0;
}

.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.clearfix {
    zoom: 1;
}

em,
i {
    font-style: normal;
}

a {
    text-decoration: none;
}
body,html {
    height: 100%;
}