html,
body,
ul,
li,
ol,
dl,
dd,
dt,
p,
h1,
h2,
h3,
h4,
h5,
h6,
form {
  margin: 0;
  padding: 0;
}
body,
html {
  height: 100%;
}
img {
  border: 0;
  display: block;
}
ol,
ul {
  list-style: none;
}
input,
select,
form img,
button {
  vertical-align: middle;
  -webkit-tap-highlight-color: transparent;
  outline: 0;
}
em,
i {
  font-style: normal;
}
a {
  text-decoration: none;
}
.sidebar {
  position: fixed;
  width: 180px;
  height: 100%;
  background: #2F4050;
}
.sidebar .user-info {
  height: 160px;
  background: #243443;
  padding-top: 20px;
}
.sidebar .user-pic {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: 2px solid #66717c;
  padding: 4px;
  overflow: hidden;
}
.sidebar .user-pic img {
  width: 70px;
}
.sidebar .uesr-name {
  color: #fff;
  font-size: 30px;
  text-align: center;
}
.sidebar .menu {
  padding-top: 24px;
}
.sidebar .menu a {
  display: block;
  height: 34px;
  line-height: 34px;
  padding-left: 20px;
  color: #a9b0c2;
  margin-bottom: 10px;
}
.sidebar .menu a:hover {
  background: #243443;
  color: #ffffff;
}
.sidebar .menu a i {
  width: 18px;
  margin-right: 10px;
}
.sidebar .user-dropdown {
  position: relative;
}
.sidebar .user-dropdown .arrow-icon {
  margin-left: 30px;
}
.sidebar .user-dropdown-menu {
  width: 100%;
  position: absolute;
  left: 0;
  top: 44px;
  display: none;
}
.sidebar .user-dropdown-menu a {
  padding-left: 48px;
}
.navbar {
  background: #ffffff;
  margin-left: 180px;
}
.navbar .navbar-header {
  background: #5cb85c;
  width: 28px;
  height: 28px;
  border-radius: 2px;
  text-align: center;
  margin-top: 12px;
}
.navbar .navbar-header a {
  line-height: 30px;
  color: #ffffff;
  float: none;
}
.navbar .navbar-header a:hover {
  color: #ffffff;
}
.navbar .navbar-right a {
  color: #337ab7 !important;
}
.main {
  padding-top: 70px;
  margin-left: 180px;
  background: #F4F6F8;
  height: 100%;
}
.breadcrumb {
  background: #ffffff;
}
.sidebar .menu li:first-child {
  background: #000;
}
.main .statistics .row {
  margin: 0;
}
.main .statistics .item {
  height: 80px;
  background: forestgreen;
  padding: 15px;
}
.main .statistics .income {
  background: #FC8675;
}
.main .statistics .courses {
  background: #5AB6DF;
}
.main .statistics .users {
  background: #65CEA7;
}
.main .statistics .pageview {
  background: #EBC85E;
}
.main .statistics i {
  font-size: 50px;
  color: #FFFFFF;
}
.main .statistics .detail {
  margin-left: 30px;
}
.main .statistics .detail span {
  display: block;
  color: #FFFFFF;
  margin-bottom: 10px;
}
