html,
body,
ul,
li,
ol,
dl,
dd,
dt,
p,
h1,
h2,
h3,
h4,
h5,
h6,
form {
  margin: 0;
  padding: 0;
}
body,
html {
  height: 100%;
}
img {
  border: 0;
  display: block;
}
ol,
ul {
  list-style: none;
}
input,
select,
form img,
button {
  vertical-align: middle;
  -webkit-tap-highlight-color: transparent;
  outline: 0;
}
em,
i {
  font-style: normal;
}
a,
a:hover {
  text-decoration: none;
}
.sidebar {
  position: fixed;
  width: 180px;
  height: 100%;
  background: #2F4050;
}
.sidebar .user-info {
  height: 160px;
  background: #243443;
  padding-top: 20px;
}
.sidebar .user-pic {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: 2px solid #66717c;
  padding: 4px;
  overflow: hidden;
}
.sidebar .user-pic img {
  width: 70px;
}
.sidebar .uesr-name {
  color: #fff;
  font-size: 30px;
  text-align: center;
}
.sidebar .menu {
  padding-top: 24px;
}
.sidebar .menu a {
  display: block;
  height: 34px;
  line-height: 34px;
  padding-left: 20px;
  color: #a9b0c2;
  margin-bottom: 10px;
}
.sidebar .menu a:hover {
  background: #243443;
  color: #ffffff;
}
.sidebar .menu a i {
  width: 18px;
  margin-right: 10px;
}
.sidebar .user-dropdown {
  position: relative;
}
.sidebar .user-dropdown .arrow-icon {
  margin-left: 30px;
}
.sidebar .user-dropdown-menu {
  width: 100%;
  position: absolute;
  left: 0;
  top: 44px;
  display: none;
}
.sidebar .user-dropdown-menu a {
  padding-left: 48px;
}
.navbar {
  background: #ffffff;
  margin-left: 180px;
}
.navbar .navbar-header {
  background: #5cb85c;
  width: 28px;
  height: 28px;
  border-radius: 2px;
  text-align: center;
  margin-top: 12px;
}
.navbar .navbar-header a {
  line-height: 30px;
  color: #ffffff;
  float: none;
}
.navbar .navbar-header a:hover {
  color: #ffffff;
}
.navbar .navbar-right a {
  color: #337ab7 !important;
}
.main {
  padding-top: 70px;
  margin-left: 180px;
  background: #F4F6F8;
  height: 100%;
}
.breadcrumb {
  background: #ffffff;
}
#index-page .statistics .row {
  margin: 0;
}
#index-page .statistics .item {
  height: 80px;
  background: forestgreen;
  padding: 15px;
  overflow: hidden;
}
#index-page .statistics .income {
  background: #FC8675;
}
#index-page .statistics .courses {
  background: #5AB6DF;
}
#index-page .statistics .users {
  background: #65CEA7;
}
#index-page .statistics .pageview {
  background: #EBC85E;
}
#index-page .statistics i {
  font-size: 50px;
  color: #FFFFFF;
}
#index-page .statistics .detail {
  margin-left: 30px;
}
#index-page .statistics .detail span {
  display: block;
  color: #FFFFFF;
  margin-bottom: 10px;
}
#login-page {
  height: 100%;
  background: #2f4050;
  padding-top: 180px;
}
#login-page .input-group {
  margin-bottom: 20px;
}
#login-page .login {
  width: 500px;
  background: #ffffff;
  padding: 105px 60px 45px;
  position: relative;
}
#login-page .login i {
  font-size: 20px;
  width: 20px;
}
#login-page .login .head-portrait {
  width: 142px;
  height: 142px;
  background: #ffffff;
  border-radius: 50%;
  border: 1px solid #e8e8e8;
  box-shadow: 0px 0px 5px #f6f6f6;
  padding: 10px;
  position: absolute;
  top: 0;
  left: 50%;
  margin-top: -71px;
  margin-left: -71px;
}
#login-page .login .head-portrait img {
  width: 120px;
}
#loading {
  position: fixed;
  top: 50%;
  left: 50%;
  margin-left: -40px;
  margin-top: -40px;
}
#loading img {
  width: 80px;
}
#teacher-list-page .add-teacher {
  background: #ffffff;
  border: 0;
}
#teacher-list-page .panel .panel-heading {
  background: #ffffff;
}
#teacher-list-page .table th {
  text-align: center;
}
#teacher-list-page .modal .modal-dialog {
  width: 750px !important;
}
#teacher-list-page .modal .intro {
  padding: 20px;
}
#teacher-list-page .modal p {
  margin-bottom: 20px;
}
#teacher-add-page .add-area {
  background: #ffffff;
  padding: 40px 0 25px;
}
#teacher-add-page .add-area .form-horizontal {
  width: 540px;
}
#teacher-add-page .add-area #btn-save {
  margin-right: 15px;
}
#category-manage .add-category {
  background: #ffffff;
  border: 0;
}
#category-manage .table {
  background: #ffffff;
}
#category-manage .table th {
  border-bottom-width: 1px;
  text-align: center;
}
#category-add .form {
  background: #fff;
  padding: 30px 0;
  margin: 0 -15px;
}
#user-profile .form {
  background: #fff;
  padding: 50px 0;
}
#user-profile .form select {
  float: left;
  width: 30%;
  margin-right: 5%;
}
#user-profile .form select:last-child {
  margin-right: 0;
}
