@import "base";
@import "common";

.navbar {
  z-index: 10;
}
.main {
  .add-area {
    background: #ffffff;
    padding: 40px 0 25px;
    overflow: hidden;
    .form-horizontal {
      width: 540px;
    }
    #btn-save {
      margin-right: 15px;
    }
  }
}