<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>登录页</title>
    <?php include_once("./views/common/style.html"); ?>
</head>
<body>
<div id="login-page">
    <div class="login center-block">
        <form class="form-horizontal" id="loginForm">
            <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-user"></i></span>
                <input type="text" class="form-control input-lg" name="tc_name" value="前端学院" placeholder="用户名">
            </div>
            <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-key"></i></span>
                <input type="password" class="form-control input-lg" name="tc_pass" value="123456" placeholder="密码">
            </div>
            <button type="submit" class="btn btn-primary btn-lg btn-block">登 录</button>
        </form>
        <div class="head-portrait">
            <img src="/uploads/xj.png">
        </div>
    </div>
</div>

<?php include_once("./views/common/script.html"); ?>

<script>
    require(["login"]);
</script>
</body>
</html>