<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>讲师添加</title>
    <?php include_once("./views/common/style.html"); ?>
    <link rel="stylesheet" href="/assets/libs/bootstrap-datetimepicker/css/bootstrap-datetimepicker.css">


</head>
<body>
<?php include_once("./views/common/sidebar.html"); ?>
<div class="main" id="teacher-add-page">
    <div class="container-fluid">
        <!--路径导航-->
        <ol class="breadcrumb">
            <li><a href="#">讲师管理</a></li>
            <li class="active">讲师添加</li>
        </ol>
        <!--表单区域-->
        <div class="add-area">
            <form class="form-horizontal center-block" id="addForm">
                <div class="form-group">
                    <label class="col-sm-2 control-label">姓名</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control input-sm" name="tc_name">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">密码</label>
                    <div class="col-sm-10">
                        <input type="password" class="form-control input-sm" name="tc_pass">
                    </div>
                </div>
                <!--**************  时间控件 ***********************-->
                <div class="form-group">
                    <label class="col-sm-2 control-label">入职时间</label>
                    <div class="input-append date col-sm-10" data-date-format="dd-mm-yyyy" id="datetimepicker">
                        <input class="span2 form-control input-sm" size="16" type="text" id="inputEntryTime"
                               name="tc_join_date">
                        <span class="add-on"><i class="icon-th"></i></span>
                    </div>
                </div>
                <!-----------下拉列表--------------->
                <div class="form-group">
                    <label class="col-sm-2 control-label">类型</label>
                    <div class="col-sm-5">
                        <select class="form-control" name="tc_type">
                            <option value="0">讲师</option>
                            <option value="1">管理员</option>
                        </select>
                    </div>
                </div>
                <!-------------内联单选框-------------->
                <div class="form-group">
                    <label class="col-sm-2 control-label">性别</label>
                    <div class="col-sm-10">
                        <label class="radio-inline">
                            <input type="radio" name="tc_gender" value="0"> 男
                        </label>
                        <label class="radio-inline">
                            <input type="radio" name="tc_gender" value="1"> 女
                        </label>
                    </div>
                </div>
                <!-----------提交按钮--------------->
                <div class="form-group pull-right">
                    <button type="submit" class="btn btn-success btn-sm" id="btn-save">保存</button>
                </div>
            </form>
        </div>
    </div>
</div>
<?php include_once("./views/common/script.html"); ?>
<script type="text/html" id="teacherEditTemplate">
    <div class="container-fluid">
        <ol class="breadcrumb">
            <li><a href="#">讲师管理</a></li>
            <li class="active">讲师编辑</li>
        </ol>
        <!--表单区域-->
        <div class="add-area">
            <form class="form-horizontal center-block" id="addForm">
                <div class="form-group">
                    <label class="col-sm-2 control-label">姓名</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control input-sm" name="tc_name" value="{{@result.tc_name}}">
                    </div>
                </div>
                <!--**************  时间控件 ***********************-->
                <div class="form-group">
                    <label class="col-sm-2 control-label">入职时间</label>
                    <div class="input-append date col-sm-10" data-date-format="dd-mm-yyyy" id="datetimepicker">
                        <input class="span2 form-control input-sm" size="16" type="text" name="tc_join_date" value="{{@result.tc_join_date
}}">
                        <span class="add-on"><i class="icon-th"></i></span>
                    </div>
                </div>
                <!-----------下拉列表--------------->
                <div class="form-group">
                    <label class="col-sm-2 control-label">类型</label>
                    <div class="col-sm-5">
                        <select class="form-control" name="tc_type">
                            <option value="0" selected = "{{@result.tc_type ==0? true :false}}">讲师</option>
                            <option value="1" selected = "{{@result.tc_type ==1? true :false}}">管理员</option>
                        </select>
                    </div>
                </div>
                <!-------------内联单选框-------------->
                <div class="form-group">
                    <label class="col-sm-2 control-label">性别</label>
                    <div class="col-sm-10">
                        <label class="radio-inline">
                            <input type="radio" name="tc_gender" value="0" checked = "{{@result.tc_type ==0? true :false}}"> 男
                        </label>
                        <label class="radio-inline">
                            <input type="radio" name="tc_gender" value="1" checked = "{{@result.tc_type ==0? checked :false}}"> 女
                        </label>
                    </div>
                </div>
                <!-----------提交按钮--------------->
                <div class="form-group pull-right">
                    <button type="submit" class="btn btn-success btn-sm" id="btn-save">保存</button>
                </div>
            </form>
        </div>
    </div>
    </div>

</script>
<script>
    require(["teacherAdd"]);


</script>
</body>
</html>