<!--第三方库文件-->
<script src="/assets/libs/less/less.js"></script>
<script src="/assets/libs/jquery/jquery.js"></script>
<!--<script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>-->
<script src="/assets/libs/bootstrap/js/bootstrap.js"></script>
<script src="/assets/libs/jquery-cookie/jquery.cookie.js"></script>
<script src="/assets/libs/art-template/template-web.js"></script>
<script src="/assets/libs/nprogress/nprogress.js"></script>



<script src="/assets/js/common.js"></script>