<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>每天进步一点点</title>
    <?php include_once("./views/common/style.html"); ?>
    <link rel="stylesheet/less" href="/assets/less/index.less">
    <?php include_once("./views/common/script.html"); ?>
</head>
<body>
<?php include_once("./views/common/sidebar.html"); ?>
<div class="main">
    <div class="container-fluid">
        <!--路径导航-->
        <ol class="breadcrumb">
            <li><a href="#">课程管理管理</a></li>
            <li class="active">创建课程</li>
        </ol>
    </div>
</div>
</body>
</html>